.turn
    margin: auto
.board
    margin: auto
    margin-top: 20px
    max-width: 600px
    width: 100%
    display: grid
    gap: 20px
    background: transperent
    height: 600px
    border-radius: 20px 
    grid-template-columns: repeat(3,1fr)
    grid-template-rows: repeat(3,1fr)

    .choice
        display: flex;
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        background: #e4e4e4f7
        cursor: pointer
        user-select: none